[submodule "holbertonschool-printf/holbertonschool-printf/holbertonschool-low_level_programming"]
	path = holbertonschool-printf/holbertonschool-printf/holbertonschool-low_level_programming
	url = https://github.com/boughanmiyoussef/holbertonschool-low_level_programming.git
